<a href="https://colab.research.google.com/github/InspectorData/DataScienceApps_practice/blob/master/EDA-SandP500.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:

import pandas as pd
import base64
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [5]:
! pip install yfinance

Collecting yfinance
  Downloading yfinance-0.1.67-py2.py3-none-any.whl (25 kB)
Collecting lxml>=4.5.1
  Downloading lxml-4.7.1-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_24_x86_64.whl (6.4 MB)
     |████████████████████████████████| 6.4 MB 10.7 MB/s
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.10)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2021.10.8)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Installing collected packages: lxml, yfinance
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
Successfully installed lxml-4.7.1 yfinance-0.1.67

In [22]:

# Web scraping of S&P 500 data

def load_data():
    url = 'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies'
    html = pd.read_html(url, header = 0)
    df = html[0]
    return df

In [38]:

df = load_data()
df

    Symbol             Security  ...      CIK      Founded
0      MMM                   3M  ...    66740         1902
1      ABT  Abbott Laboratories  ...     1800         1888
2     ABBV               AbbVie  ...  1551152  2013 (1888)
3     ABMD              Abiomed  ...   815094         1981
4      ACN            Accenture  ...  1467373         1989
..     ...                  ...  ...      ...          ...
500    YUM          Yum! Brands  ...  1041061         1997
501   ZBRA   Zebra Technologies  ...   877212         1969
502    ZBH        Zimmer Biomet  ...  1136869         1927
503   ZION        Zions Bancorp  ...   109380         1873
504    ZTS               Zoetis  ...  1555280         1952

[505 rows x 9 columns]

Webscraping of NASDAQ 100

In [19]:
# Web scraping of NASDAQ 100 data

def load_data():
    url = 'https://en.wikipedia.org/wiki/Nasdaq-100#Components'
    html = pd.read_html(url, header = 0)
    df = html[2]
    return df

In [20]:
df2 = load_data()
df2

    Year  Closing level Change in Indexin Points Change in Indexin %
0   1985         132.29                      NaN                 NaN
1   1986         141.41                     9.12                6.89
2   1987         156.25                    14.84               10.49
3   1988         177.41                    21.16               13.54
4   1989         223.84                    46.43               26.17
5   1990         200.53                   −23.31              −10.41
6   1991         330.86                   130.33               64.99
7   1992         360.19                    29.33                8.86
8   1993         398.28                    38.09               10.57
9   1994         404.27                     5.99                1.50
10  1995         576.23                   171.96               42.54
11  1996         821.36                   245.13               42.54
12  1997         990.80                   169.44               20.63
13  1998        1836.01                   845.21               85.31
14  1999        3707.83                  1871.81              101.95
15  2000        2341.70                −1,366.13              −36.84
16  2001        1577.05                  −764.65              −32.65
17  2002         984.36                  −592.69              −37.58
18  2003        1467.92                   483.56               49.12
19  2004        1621.12                   153.20               10.44
20  2005        1645.20                    24.08                1.49
21  2006        1756.90                   111.70                6.79
22  2007        2084.93                   328.03               18.67
23  2008        1211.65                  −873.28              −41.89
24  2009        1860.31                   648.66               53.54
25  2010        2217.86                   357.55               19.22
26  2011        2277.83                    59.97                2.70
27  2012        2660.93                   383.10               16.82
28  2013        3592.00                   931.07               34.99
29  2014        4236.28                   644.28               17.94
30  2015        4593.27                   356.99                8.43
31  2016        4863.62                   270.35                5.89
32  2017        6396.42                  1532.80               31.52
33  2018        6329.96                   −66.46               −1.04
34  2019        8733.07                  2403.11               37.96
35  2020       12888.28                  4155.21               47.58

Examing Data Webscraped Data

In [26]:
sector_unique = df['GICS Sector'].unique()
sector_unique

array(['Industrials', 'Health Care', 'Information Technology',
       'Communication Services', 'Consumer Discretionary', 'Utilities',
       'Financials', 'Materials', 'Real Estate', 'Consumer Staples',
       'Energy'], dtype=object)

In [27]:
len(sector_unique)

11

# **Group by Sector**

In [29]:
sector = df.groupby('GICS Sector')

In [32]:
sector.first()

                       Symbol                         Security  ...      CIK Founded
GICS Sector                                                     ...
Communication Services   ATVI              Activision Blizzard  ...   718877    2008
Consumer Discretionary    AAP               Advance Auto Parts  ...  1158449    1932
Consumer Staples           MO                     Altria Group  ...   764180    1985
Energy                    APA                  APA Corporation  ...     6769    1954
Financials                AFL                            Aflac  ...     4977    1955
Health Care               ABT              Abbott Laboratories  ...     1800    1888
Industrials               MMM                               3M  ...    66740    1902
Information Technology    ACN                        Accenture  ...  1467373    1989
Materials                 APD         Air Products & Chemicals  ...     2969    1940
Real Estate               ARE  Alexandria Real Estate Equities  ...  1035443    1994
Utilities                 AES                         AES Corp  ...   874761    1981

[11 rows x 8 columns]

In [33]:
sector.describe()

                         CIK                ...
                       count          mean  ...         75%        max
GICS Sector                                 ...
Communication Services  27.0  1.107343e+06  ...  1500907.50  1754301.0
Consumer Discretionary  63.0  8.477582e+05  ...  1164229.50  1590895.0
Consumer Staples        32.0  3.872794e+05  ...   789573.00  1679273.0
Energy                  21.0  7.674384e+05  ...  1163165.00  1701605.0
Financials              65.0  6.325087e+05  ...  1120193.00  1601712.0
Health Care             64.0  8.164259e+05  ...  1097811.75  1821825.0
Industrials             73.0  6.945875e+05  ...  1090727.00  1783180.0
Information Technology  75.0  9.178549e+05  ...  1346724.50  1730168.0
Materials               28.0  8.369064e+05  ...  1419355.00  1755672.0
Real Estate             29.0  8.957202e+05  ...  1053507.00  1393311.0
Utilities               28.0  8.035041e+05  ...  1036121.50  1711269.0

[11 rows x 8 columns]

In [34]:
sector.get_group('Health Care')

    Symbol                      Security  ...      CIK      Founded
1      ABT           Abbott Laboratories  ...     1800         1888
2     ABBV                        AbbVie  ...  1551152  2013 (1888)
3     ABMD                       Abiomed  ...   815094         1981
11       A          Agilent Technologies  ...  1090872         1999
17    ALGN              Align Technology  ...  1097149         1997
..     ...                           ...  ...      ...          ...
474   VTRS                       Viatris  ...  1792044         1961
484    WAT            Waters Corporation  ...  1000697         1958
488    WST  West Pharmaceutical Services  ...   105770         1923
502    ZBH                 Zimmer Biomet  ...  1136869         1927
504    ZTS                        Zoetis  ...  1555280         1952

[64 rows x 9 columns]

Finance Data

In [37]:
import yfinance as yf

List of S&P 500 symbols

In [39]:
list(df.Symbol)

['MMM',
 'ABT',
 'ABBV',
 'ABMD',
 'ACN',
 'ATVI',
 'ADBE',
 'AMD',
 'AAP',
 'AES',
 'AFL',
 'A',
 'APD',
 'AKAM',
 'ALK',
 'ALB',
 'ARE',
 'ALGN',
 'ALLE',
 'LNT',
 'ALL',
 'GOOGL',
 'GOOG',
 'MO',
 'AMZN',
 'AMCR',
 'AEE',
 'AAL',
 'AEP',
 'AXP',
 'AIG',
 'AMT',
 'AWK',
 'AMP',
 'ABC',
 'AME',
 'AMGN',
 'APH',
 'ADI',
 'ANSS',
 'ANTM',
 'AON',
 'AOS',
 'APA',
 'AAPL',
 'AMAT',
 'APTV',
 'ADM',
 'ANET',
 'AJG',
 'AIZ',
 'T',
 'ATO',
 'ADSK',
 'ADP',
 'AZO',
 'AVB',
 'AVY',
 'BKR',
 'BLL',
 'BAC',
 'BBWI',
 'BAX',
 'BDX',
 'BRK.B',
 'BBY',
 'BIO',
 'TECH',
 'BIIB',
 'BLK',
 'BK',
 'BA',
 'BKNG',
 'BWA',
 'BXP',
 'BSX',
 'BMY',
 'AVGO',
 'BR',
 'BRO',
 'BF.B',
 'CHRW',
 'CDNS',
 'CZR',
 'CPB',
 'COF',
 'CAH',
 'KMX',
 'CCL',
 'CARR',
 'CTLT',
 'CAT',
 'CBOE',
 'CBRE',
 'CDW',
 'CE',
 'CNC',
 'CNP',
 'CDAY',
 'CERN',
 'CF',
 'CRL',
 'SCHW',
 'CHTR',
 'CVX',
 'CMG',
 'CB',
 'CHD',
 'CI',
 'CINF',
 'CTAS',
 'CSCO',
 'C',
 'CFG',
 'CTXS',
 'CLX',
 'CME',
 'CMS',
 'KO',
 'CTSH',
 'CL',
 'CMCSA',
 'CMA',
 'CAG',
 'COP',
 'ED',
 'STZ',
 'COO',
 'CPRT',
 'GLW',
 'CTVA',
 'COST',
 'CTRA',
 'CCI',
 'CSX',
 'CMI',
 'CVS',
 'DHI',
 'DHR',
 'DRI',
 'DVA',
 'DE',
 'DAL',
 'XRAY',
 'DVN',
 'DXCM',
 'FANG',
 'DLR',
 'DFS',
 'DISCA',
 'DISCK',
 'DISH',
 'DG',
 'DLTR',
 'D',
 'DPZ',
 'DOV',
 'DOW',
 'DTE',
 'DUK',
 'DRE',
 'DD',
 'DXC',
 'EMN',
 'ETN',
 'EBAY',
 'ECL',
 'EIX',
 'EW',
 'EA',
 'EMR',
 'ENPH',
 'ETR',
 'EOG',
 'EPAM',
 'EFX',
 'EQIX',
 'EQR',
 'ESS',
 'EL',
 'ETSY',
 'EVRG',
 'ES',
 'RE',
 'EXC',
 'EXPE',
 'EXPD',
 'EXR',
 'XOM',
 'FFIV',
 'FAST',
 'FRT',
 'FDX',
 'FIS',
 'FITB',
 'FE',
 'FRC',
 'FISV',
 'FLT',
 'FMC',
 'F',
 'FTNT',
 'FTV',
 'FBHS',
 'FOXA',
 'FOX',
 'BEN',
 'FCX',
 'GPS',
 'GRMN',
 'IT',
 'GNRC',
 'GD',
 'GE',
 'GIS',
 'GM',
 'GPC',
 'GILD',
 'GL',
 'GPN',
 'GS',
 'GWW',
 'HAL',
 'HBI',
 'HIG',
 'HAS',
 'HCA',
 'PEAK',
 'HSIC',
 'HSY',
 'HES',
 'HPE',
 'HLT',
 'HOLX',
 'HD',
 'HON',
 'HRL',
 'HST',
 'HWM',
 'HPQ',
 'HUM',
 'HBAN',
 'HII',
 'IEX',
 'IDXX',
 'INFO',
 'ITW',
 'ILMN',
 'INCY',
 'IR',
 'INTC',
 'ICE',
 'IBM',
 'IP',
 'IPG',
 'IFF',
 'INTU',
 'ISRG',
 'IVZ',
 'IPGP',
 'IQV',
 'IRM',
 'JKHY',
 'J',
 'JBHT',
 'SJM',
 'JNJ',
 'JCI',
 'JPM',
 'JNPR',
 'K',
 'KEY',
 'KEYS',
 'KMB',
 'KIM',
 'KMI',
 'KLAC',
 'KHC',
 'KR',
 'LHX',
 'LH',
 'LRCX',
 'LW',
 'LVS',
 'LEG',
 'LDOS',
 'LEN',
 'LLY',
 'LNC',
 'LIN',
 'LYV',
 'LKQ',
 'LMT',
 'L',
 'LOW',
 'LUMN',
 'LYB',
 'MTB',
 'MRO',
 'MPC',
 'MKTX',
 'MAR',
 'MMC',
 'MLM',
 'MAS',
 'MA',
 'MTCH',
 'MKC',
 'MCD',
 'MCK',
 'MDT',
 'MRK',
 'FB',
 'MET',
 'MTD',
 'MGM',
 'MCHP',
 'MU',
 'MSFT',
 'MAA',
 'MRNA',
 'MHK',
 'TAP',
 'MDLZ',
 'MPWR',
 'MNST',
 'MCO',
 'MS',
 'MOS',
 'MSI',
 'MSCI',
 'NDAQ',
 'NTAP',
 'NFLX',
 'NWL',
 'NEM',
 'NWSA',
 'NWS',
 'NEE',
 'NLSN',
 'NKE',
 'NI',
 'NSC',
 'NTRS',
 'NOC',
 'NLOK',
 'NCLH',
 'NRG',
 'NUE',
 'NVDA',
 'NVR',
 'NXPI',
 'ORLY',
 'OXY',
 'ODFL',
 'OMC',
 'OKE',
 'ORCL',
 'OGN',
 'OTIS',
 'PCAR',
 'PKG',
 'PH',
 'PAYX',
 'PAYC',
 'PYPL',
 'PENN',
 'PNR',
 'PBCT',
 'PEP',
 'PKI',
 'PFE',
 'PM',
 'PSX',
 'PNW',
 'PXD',
 'PNC',
 'POOL',
 'PPG',
 'PPL',
 'PFG',
 'PG',
 'PGR',
 'PLD',
 'PRU',
 'PTC',
 'PEG',
 'PSA',
 'PHM',
 'PVH',
 'QRVO',
 'PWR',
 'QCOM',
 'DGX',
 'RL',
 'RJF',
 'RTX',
 'O',
 'REG',
 'REGN',
 'RF',
 'RSG',
 'RMD',
 'RHI',
 'ROK',
 'ROL',
 'ROP',
 'ROST',
 'RCL',
 'SPGI',
 'CRM',
 'SBAC',
 'SLB',
 'STX',
 'SEE',
 'SRE',
 'NOW',
 'SHW',
 'SPG',
 'SWKS',
 'SNA',
 'SO',
 'LUV',
 'SWK',
 'SBUX',
 'STT',
 'STE',
 'SYK',
 'SIVB',
 'SYF',
 'SNPS',
 'SYY',
 'TMUS',
 'TROW',
 'TTWO',
 'TPR',
 'TGT',
 'TEL',
 'TDY',
 'TFX',
 'TER',
 'TSLA',
 'TXN',
 'TXT',
 'TMO',
 'TJX',
 'TSCO',
 'TT',
 'TDG',
 'TRV',
 'TRMB',
 'TFC',
 'TWTR',
 'TYL',
 'TSN',
 'UDR',
 'ULTA',
 'USB',
 'UAA',
 'UA',
 'UNP',
 'UAL',
 'UNH',
 'UPS',
 'URI',
 'UHS',
 'VLO',
 'VTR',
 'VRSN',
 'VRSK',
 'VZ',
 'VRTX',
 'VFC',
 'VIAC',
 'VTRS',
 'V',
 'VNO',
 'VMC',
 'WRB',
 'WAB',
 'WMT',
 'WBA',
 'DIS',
 'WM',
 'WAT',
 'WEC',
 'WFC',
 'WELL',
 'WST',
 'WDC',
 'WU',
 'WRK',
 'WY',
 'WHR',
 'WMB',
 'WLTW',
 'WYNN',
 'XEL',
 'XLNX',
 'XYL',
 'YUM',
 'ZBRA',
 'ZBH',
 'ZION',
 'ZTS']

# **Retrieve stock data**

In [41]:
# https://pypi.org/project/yfinance/

data = yf.download(
        #or pdr.get_data_yahoo
        #tickerslist or string as well
        tickers = list(df.Symbol),
        
        #use "period" instead of start/end 
        #valid period: 1d, 5d, 1mo, 3mo, 6mo, 1y, 2y, 5y, 10y,ytd, max
        #(optional, defaul is '1mo')
        period = "ytd",
        
        #fetch data by interval(including intraday if period <60 days)
        #valid intervals: 1m, 2m, 5m, 15,m, 30m, 60m, 90m, 1h, 1d, 5d, 1wk, 1mo, 3mo
        #(optional, default is '1d')
        interval = "1d",
        
        #group by ticker( to access via data['SPY])
        #(optional, default is 'column')
        group_by = 'ticker',
        
        #adjust all OHLC automatically
        #(optional, default is 'column')
        auto_adjust = True,
        

        #download pre.post regualr market hours data
        #(optional, default is False )
        prepost = True,
        
        #use thread for mass downloading? (True/False/Integer)
        #(optional, default is True)
        threads = True,

        #proxy URL scheme use use when downloading?
        #(optional, default is None)
        proxy = None 
    )

[*********************100%***********************]  505 of 505 completed

2 Failed downloads:
- BF.B: No data found for this date range, symbol may be delisted
- BRK.B: No data found, symbol may be delisted

In [42]:
data

                  KEYS                          ...         ICE
                  Open        High         Low  ...         Low       Close   Volume
Date                                            ...
2021-01-04  132.419998  132.750000  129.317001  ...  111.143316  112.063164  2726500
2021-01-05  131.500000  134.000000  131.199997  ...  111.716974  112.300537  2286200
2021-01-06  133.600006  137.376999  133.190002  ...  111.529060  114.476524  2581600
2021-01-07  137.149994  141.029999  136.610001  ...  113.635799  114.545753  2357800
2021-01-08  140.910004  147.020004  140.910004  ...  114.822697  116.345886  2405600
...                ...         ...         ...  ...         ...         ...      ...
2021-12-16  203.610001  204.899994  198.035004  ...  135.029999  135.990005  2603100
2021-12-17  197.479996  199.580002  196.520004  ...  133.199997  133.380005  4208000
2021-12-20  196.059998  197.251007  192.080002  ...  130.889999  132.559998  1516400
2021-12-21  195.600006  197.660004  194.470001  ...  132.559998  134.059998  1713500
2021-12-22  197.910004  200.824997  196.919998  ...  133.369995  135.240005  1083500

[246 rows x 2527 columns]

Subset Query

In [44]:
data['AAPL']

                  Open        High         Low       Close     Volume
Date
2021-01-04  132.701914  132.791359  125.983331  128.617096  143301900
2021-01-05  128.100300  130.932844  127.643112  130.207306   97664900
2021-01-06  126.937458  130.247057  125.605665  125.824318  155088000
2021-01-07  127.573531  130.823500  127.076595  130.117844  109578200
2021-01-08  131.618582  131.817369  129.432065  131.240921  105158200
...                ...         ...         ...         ...        ...
2021-12-16  179.279999  181.139999  170.750000  172.259995  150185800
2021-12-17  169.929993  173.470001  169.690002  171.139999  195432700
2021-12-20  168.279999  170.580002  167.460007  169.750000  107499100
2021-12-21  171.559998  173.199997  169.119995  172.990005   91185900
2021-12-22  173.039993  175.860001  172.149994  175.639999   92004100

[246 rows x 5 columns]

In [45]:
data['GOOG']

                   Open         High          Low        Close   Volume
Date
2021-01-04  1757.540039  1760.650024  1707.849976  1728.239990  1901900
2021-01-05  1725.000000  1747.670044  1718.015015  1740.920044  1145300
2021-01-06  1702.630005  1748.000000  1699.000000  1735.290039  2602100
2021-01-07  1740.060059  1788.400024  1737.050049  1787.250000  2265000
2021-01-08  1787.979980  1809.839966  1773.535034  1807.209961  2050600
...                 ...          ...          ...          ...      ...
2021-12-16  2961.540039  2971.030029  2881.850098  2896.770020  1370000
2021-12-17  2854.290039  2889.201904  2835.760010  2856.060059  2162800
2021-12-20  2813.592041  2852.209961  2805.000000  2848.030029  1013200
2021-12-21  2863.000000  2893.841064  2834.699951  2884.409912   977400
2021-12-22  2882.000000  2946.000000  2879.260010  2938.979980   917501

[246 rows x 5 columns]

In [ ]:


# Download S&P500 data
# https://discuss.streamlit.io/t/how-to-download-file-in-streamlit/1806
def filedownload(df):
    csv = df.to_csv(index=False)
    b64 = base64.b64encode(csv.encode()).decode()  # strings <-> bytes conversions
    href = f'<a href="data:file/csv;base64,{b64}" download="SP500.csv">Download CSV File</a>'
    return href




# Plot Closing Price of Query Symbol
def price_plot(symbol):
  df = pd.DataFrame(data[symbol].Close)
  df['Date'] = df.index
  plt.fill_between(df.Date, df.Close, color='skyblue', alpha=0.3)
  plt.plot(df.Date, df.Close, color='skyblue', alpha=0.8)
  plt.xticks(rotation=90)
  plt.title(symbol, fontweight='bold')
  plt.xlabel('Date', fontweight='bold')
  plt.ylabel('Closing Price', fontweight='bold')
  return st.pyplot()

num_company = st.sidebar.slider('Number of Companies', 1, 5)

if st.button('Show Plots'):
    st.header('Stock Closing Price')
    for i in list(df_selected_sector.Symbol)[:num_company]:
        price_plot(i)